@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;800&display=swap");

body {
  background-color: #fff;
  margin: 0;
  font-family: Work Sans;
  font-size: 18px;
  background-color: #fff;
}

.logo {
  height: 70px;
  width: 100%;
  font-size: 30px;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
  background-color: #2e7c31;
  color: white;
  margin-bottom: 40px;
}

.title {
  font-size: 30px;
  font-weight: 800;
  padding: 0;
  margin: 0;
}

.input{
    height: 25px;
    margin-bottom: 15px;
    font-size: 14px;
    background-color: #eee;
    border: none;
    text-align: center;
    font-family: Work Sans;
    width: 78%;
}


form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
  font-weight: 500;
  margin-bottom: 5px;
}

.button {
    color: #fff;
    font-family: Work Sans;
    font-size: 14px;
    border: none;
    height: 32px;
    border-radius: 16px;
    font-weight: 500;
    margin: auto;
    margin-bottom: 12px;
    width: 78%;
    background-color: #004f04;
  }

  @media screen and (min-width: 576px) {
    .button, .input  {
      width: 312px;
    }

  }